$primary-color: #0336ff;
$secondary-color: #ff0026;
$tertiary-color: #0026ff;
$quaternary-color: #ff2600;
$quinary-color: #00ff26;
$senary-color: #26ff00;
$septenary-color: #ff26ff;
$octonary-color: #2600ff;
$nonary-color: #ff0026;
$white: #fff;
$black: #000;
$gray: #fafafa;
$gray-dark: #333;